<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>

<script src="//app-ab20.marketo.com/js/forms2/js/forms2.min.js"></script>
<form id="mktoForm_1200" style="display:none" ></form>
姓<input type="text" id="first_name"/><br>
名<input type="text" id="last_name"/><br>
邮箱<input type="text" id="e-mail"/><br>
电话<input type="text" id="mobile-phone"/><br>
<!--留言<textarea  id="comments"></textarea><br>-->
<select id="lev" >
    <option value="">选择申请学历</option>
    <option value="Undergraduate">本科</option>
    <option value="Graduate">研究生</option>
</select><br>
<select id="start_date" name="startDate">
    <option value="">入学时间</option>
    <option value="2017&nbsp;Summer">2017&nbsp;夏季 </option>
    <option value="2017&nbsp;Fall">2017&nbsp;秋季 </option>
    <option value="2018&nbsp;Spring">2018&nbsp;春季 </option>
    <option value="2018&nbsp;Summer">2018&nbsp;夏季 </option>
    <option value="2018&nbsp;Fall">2018&nbsp;秋季 </option>
    <option value="2019&nbsp;Spring">2019&nbsp;春季 </option>
</select><br>
<button id="btn1" >提交</button>

<script>
    MktoForms2.loadForm("//app-ab20.marketo.com", "553-ZUA-407", 1200);
    var btn = document.getElementById("btn1");
    btn.onclick = function() {
    // When the button is clicked, get the form object and submit it
    MktoForms2.whenReady(function (form) {
        var firstname = document.getElementById("first_name").value;
        var lastname = document.getElementById("last_name").value;
        var phone = document.getElementById("mobile-phone").value;
        var email = document.getElementById("e-mail").value;
        //var question = document.getElementById("comments").value;
        var level = document.getElementById("lev").value;
        var start_date = document.getElementById("start_date").value;
        form.vals({ "Country":"China"});
        form.vals({ "internationalCallingCode":"+86"});
        form.vals({ "FirstName":firstname});
        form.vals({ "LastName":lastname});
        form.vals({ "Email":email});
        form.vals({ "MobilePhone":phone});
        form.vals({"level":level});
        form.vals({"startDate":start_date});
        //form.vals({ "question":question});
        form.vals({"hregion":"china"});
        form.submit();
    });
};
</script>

</body>
</html>

